<a href="https://colab.research.google.com/github/Dennieeeee/COVID19-Pandemic/blob/master/COVID_19_airport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Dennieeeee/COVID19-Pandemic/master/Airport%20Traffic%20Analysis/Data/covid_impact_on_airport_traffic.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5936 entries, 0 to 5935
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AggregationMethod  5936 non-null   object
 1   Date               5936 non-null   object
 2   Version            5936 non-null   float64
 3   AirportName        5936 non-null   object
 4   PercentOfBaseline  5936 non-null   int64
 5   Centroid           5936 non-null   object
 6   City               5936 non-null   object
 7   State              5936 non-null   object
 8   ISO_3166_2         5936 non-null   object
 9   Country            5936 non-null   object
 10  Geography          5936 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 510.2+ KB

In [4]:
df['Date']=pd.to_datetime(df['Date'])

In [5]:
df['year']=df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['weekday'] = df['Date'].dt.day_name()

In [6]:
df.head(1)

  AggregationMethod       Date  Version  ...  year  month weekday
0             Daily 2020-07-05      1.0  ...  2020      7  Sunday

[1 rows x 14 columns]

In [7]:
df['month'].value_counts()

7     862
5     855
9     835
8     835
6     831
4     825
10    448
3     445
Name: month, dtype: int64